* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.status_handler {
  width: 100vw;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  transition: 1s all ease-in-out;
}
